/*==================
                Necessary CSS
            ==================*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--background-color);
}

:root {
  --primary-color: #6366f1;
  --accent-color: #3f83f8;
  --text-color: #333333;
  --link-color: #2563eb;
  --background-color: #ffffff;
  --light-grey: #f0f0f0;
  --gray: #808080;
  --dark-gray: #555;
}

ul {
  list-style: none;
}

a {
  font-size: 1.5rem;
  text-decoration: none;
  display: inline-block;
  color: var(--text-color);
}

/*==================
                Utility Classes
            ==================*/

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image,
.video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.container {
  max-width: 1180px;
  padding: 0 2rem;
  background-color: var(--background-color);
}

.para {
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: var(--text-color);
}

.primary-btn {
  font-size: 1.5rem;
  padding: 1.2rem 2.4rem;
  border: none;
  border-radius: 0.5rem;
  color: var(--background-color);
  background-color: var(--primary-color);
  transition: all 0.3s linear;
}

.primary-btn:hover {
  background-color: #5254f8;
}

.secondary-btn {
  font-size: 1.5rem;
  padding: 1.2rem 2.4rem;
  border: none;
  border-radius: 0.5rem;
  color: var(--background-color);
  background-color: var(--text-color);
  transition: all 0.3s linear;
}

.secondary-btn:hover {
  background-color: var(--dark-gray);
}

/*==================
                Header Section
            ==================*/

#header {
  height: 10vh;
  width: 100%;
  background-color: var(--background-color);
}

#header > .container {
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.logo {
  gap: 1rem;
}
.logo-image {
  width: 2.5rem;
}

.logo > .logo-heading {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--text-color);
}

.navbar-list {
  gap: 2.5rem;
}

.navbar-link {
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  color: #718096;
  transition: color 0.1s linear;
}

.navbar-link:hover {
  color: var(--link-color);
}

.menu-btn {
  display: none;
}

#menu-Btn {
  width: 2.5rem;
}

/*==================
                Hero Section
            ==================*/

#main {
  margin: auto;
}
.hero-section {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  background-color: var(--background-color);
}

.hero-left {
  flex-direction: column;
  align-items: flex-start;
  padding-right: 5rem;
  gap: 4rem;
  animation: slidefromleft 1s ease forwards;
  opacity: 0;
}

@keyframes slidefromleft {
  0% {
    transform: translateX(-100%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.hero-para-1 {
  color: var(--primary-color);
}

.hero-heading {
  font-size: 4rem;
  margin-top: -2rem;
}

.hero-para-2 {
  color: var(--gray);
}

.hero-btns {
  gap: 3rem;
}

.hero-right {
  height: 50vh;
  justify-content: flex-end;
}

.hero-right > .image {
  border-radius: 1rem;
  width: 80%;
}

.companies {
  margin-top: 10rem;
  text-align: center;
  animation: slidefromleft 1s ease forwards;
  opacity: 0;
}

.company-heading {
  font-size: 3rem;
}

.company-detail {
  width: 85%;
  margin: 5rem auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.company {
  gap: 1rem;
}

.company > img {
  height: 2rem;
}

.company > span {
  font-size: 1.5rem;
  color: var(--gray);
}

/*==================
                Feature Section
            ==================*/

.feature-section {
  flex-direction: column;
  gap: 3rem;
  margin-top: 10rem;
  background-color: var(--background-color);
}

.feature-section > h1 {
  font-size: 3rem;
  text-align: center;
}

.feature-section > .para {
  width: 60%;
  text-align: center;
}

.feature-boxes {
  max-width: 768px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 3rem;
  column-gap: 3rem;
}

.feature-box {
  flex-direction: column;
  gap: 1rem;
  background-color: red;
  padding: 2rem;
  border-radius: 1rem;
  color: var(--background-color);
}

.company-img {
  width: 4rem;
  height: 4rem;
  background-color: #fff;
  border-radius: 50%;
}

.company-img > img {
  height: 50%;
}

.feature-box:nth-child(1) {
  background-color: #4284df;
}

.feature-box:nth-child(2) {
  background-color: #ff567e;
}

.feature-box:nth-child(3) {
  background-color: #fcb74f;
}

.feature-box:nth-child(4) {
  background-color: #3cb5bb;
}

.feature-box:nth-child(5) {
  background-color: #5a8944;
}

.feature-box:nth-child(6) {
  background-color: #5d5888;
}

.feature-box > .para {
  font-size: 1.3rem;
  text-align: center;
  color: var(--background-color);
}

/*==================
                Testimonials Section
            ==================*/

.testimonials-section {
  margin-top: 10rem;
  background-color: var(--background-color);
}

.testimonials-section > h1 {
  font-size: 3rem;
  text-align: center;
}

.testi-boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  row-gap: 2rem;
  column-gap: 2rem;
  margin: 3rem 0;
}

.testi-box {
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.testi-box > img {
  width: 10rem;
}

.testi-box:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 8px var(--accent-color);
}

.testi-box > h3 {
  font-size: 1.6rem;
  color: var(--link-color);
}

.testi-box > .para {
  font-size: 1.4rem;
  text-align: center;
}

/*==================
                Newsletter Section
            ==================*/

.newsletter-section {
  margin-top: 5rem;
  background-color: var(--background-color);
}

.newsletter-div {
  max-width: 1280px;
  gap: 2rem;
}

.newsletter-left {
  width: 50%;
  padding: 2rem;
}

.newsletter-left > img {
  border-radius: 0.6rem;
}

.newsletter-right {
  width: 50%;
  padding: 2rem;
  background-color: var(--light-grey);
}

.newsletter-right-inner {
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
  padding: 2rem;
}

.newsletter-right-inner > h1 {
  font-size: 3.5rem;
  color: var(--primary-color);
}

.newsletter-right-inner > form {
  gap: 1rem;
}

.newsletter-right-inner > form > #email {
  padding: 1.2rem 2.4rem;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  color: #333;
}

.newsletter-right-inner > .para > a {
  color: var(--link-color);
  border-bottom: 1px solid var(--link-color);
}

/*==================
                Footer Section
            ==================*/

#footer {
  margin-top: 5rem;
}

.top-footer {
  padding: 5rem 2rem;
  margin: auto;
  justify-content: space-between;
  align-items: flex-start;
}

.top-footer-left {
  width: 30%;
  padding: 0 2rem;
}

.logo-social {
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
}

.logo-social > .para {
  font-size: 1.5rem;
}

.socials {
  gap: 2rem;
}

.quick-links {
  transition: color cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
}

.quick-links > .para:hover {
  color: var(--link-color);
}

.top-footer-right {
  width: 70%;
  justify-content: space-around;
  align-items: flex-start;
}

.quick-links > h3 {
  font-size: 1.6rem;
}

.quick-links {
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
}

.quick-links > a {
  font-size: 1.5rem;
}

.bottom-footer {
  padding: 1rem;
}

.bottom-footer > .para {
  font-size: 1.5rem;
  text-align: center;
}
